[Desktop Entry]
Version=1.22.0
Encoding=UTF-8
Name=Notepad--
Comment=A sample Notepad++-like editor.
Exec=npdd
Terminal=false
Type=Application
Categories=Utility;TextTools
Icon=${SNAP}/meta/gui/npdd.png
